@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/*
	Color Pallete

	Header Nav Bar Blue : #72a9ae;
	Primary Text Black : #000000;
	BG Primary White : #ffffff;
	Footer Background Gray : 454545;
*/

font-family: "Inconsolata", sans-serif;

/************************
		MOBILE FIRST
************************/



.col-header.col-footer, img {
	width:100%;
}
	
/* Header styles */ 
header {
	background: #ffffff;
}
.logo {
	float: left;
	width:195px;
	padding: 15px;
	box-sizing: border-box;
	background: #ffffff;
}

.desktop-nav {
	clear: both;
	display: none;
}

.desktop-nav ul {
	width:100%;
}

.desktop-nav li {
	box-sizing: border-box;
	width: 25%;
	padding: 10px;
	float: left;
	/*This is required to make sub-nav positioned absolute to the main navigation li containers*/
	position: relative;
}

.main-nav a {
	display: block;
	box-sizing: border-box;
	padding: 10px;
	border-left: 2px solid #444;
	background: #72a9ae;
}

/*main content styles*/
main {
	background: url("../img/bg.png");
}

.img-slide {
	padding: 10px 60px ;
	width: 33%;
	height: auto;
	box-sizing: border-box;
	float: left;
	text-align: center;
}

.img-slide figcaption {
	font-size: 18px;
	padding: 10px 0 20px 0;
}











table {
  table-layout:auto;
  font-family: sans-serif;
  width: 100%;
  border: 1px solid Black;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}
th{
  background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background: url("../img/bg.png");
}


