@charset "utf-8";
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
  overflow: auto;
}
.col-header, .col-main, .col-footer, img {
	width:100%;
	margin: 10px;
}
.page {
	width: 100%
	height:auto;
}

ul {
	list-style-type: none;
	box-sizing: border-box;
	float: left;
	margin: 5;
	padding: 0;
	overflow: hidden;
	width: 100%;
	width: 853px;
	text-align: center;
}
li {
    display:block;

    box-sizing: border-box;
	width: 25%;
	max-width: 853px;
	float: left;
	margin: 5px;
	padding: 5px;
	background: #BBDEFB;
	text-align: center;
	color: black
}

li a {
	display: block;
	color: rgb(0,0,0);
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	width: 25%;
}

/* Header styles */ 

header {
	background: #7cc576;
	color: rgb(0,0,0);
	width: 100%;
	max-width: 960px;
	padding: 10px;
	width: 960px;
	height: 226px;
	box-sizing: border-box;
}

body {
	background-image: url("images/main.png");
	background-size: cover;
    background: #ffffff;
	color: rgb(0,0,0);
	float: left;
	max-width:960px;
	padding: 10px;
	box-sizing: border-box;
	margin: 0 auto;
}
/*main content styles*/
main {
	background: #ffffff;
	width: 630px;
	max-width:960px;
	width: 60%;
}
aside {
	width: 40%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	background-color: #ffffff;
	width: 315px;
	max-width:960px;
	box-sizing: border-box;
}
aside img {

	float: right;
	width: 40%;
	padding-left: 15px;
	margin-left: 15px;
	background-color: #ffffff;
	width: 315px;
	max-width:960px;
	box-sizing: border-box;
}
img-slide {
	width: 33%;
	max-width: 960px;
	background: #ffffff ;
	margin: auto;
	box-sizing: border-box;
	padding: 10px;
	float: left;
	text-align: center;
	margin: 0 auto;
}

}
/*footer styles*/

footer {
	background: #7cc576;
	color: rgb(124,197,118);
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	max-width:960px;
	height: 110px;
}
footer img {
  width: 40px;
  float: right;
}

.logo {

	float: left;
	width:100px;
	padding: 15px;
	background: #7cc576;
	/*box-sizing border box makes the width adjust according to padding*/
}
.desktop-nav {
	float: right;
	width: calc(100% - 50px);
	max-width: 960px;
}














